.cssMotionExamples {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.examples {
  display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  // flex-flow: row wrap;
  padding: 1rem;
  gap: clamp(2rem, 8vw, 4rem);

  .menuTrigger {
    padding: 1rem;
    background-color: var(--teal02);
    border-radius: var(--radius01);
  }
}
 
button {
  background: transparent;
  border: 10px solid var(--gray03);
  border-radius: var(--radius01);

  .hamburger {
    fill: var(--gray03);
  }
}

.button1 {
  .line {
    transition: 
      rotate 300ms ease-in-out,
      y 300ms ease-in-out 300ms,
      opacity 0ms 300ms;
    ;
    transform-origin: center;
  }

  &:hover .line {
    transition: 
    y 300ms ease-in-out,
    rotate 300ms ease-in-out 300ms,
    opacity 0ms 300ms;
    ;
  }
  &:hover :is(.top, .bottom) {
    y: 45;
  }
  &:hover .top {
    rotate: 45deg;
  }
  &:hover .middle {
    opacity: 0;
  }
  &:hover .bottom {
    rotate: -45deg;
  }
}

// .button1[aria-expanded="true"] .top {
//   x
// }