.cssMotionExamples {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.examples {
  display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  // flex-flow: row wrap;
  padding: 1rem;
  gap: clamp(2rem, 8vw, 4rem);

  .menuTrigger {
    padding: 1rem;
    background-color: var(--teal02);
    border-radius: var(--radius01);
  }
}
 
button {
  padding: 0.25rem;
  background: transparent;
  border: 10px solid var(--button-color, green);
  border-radius: var(--radius01);

  // .hamburger {
  //   fill: var(--button-color);
  //   stroke: var(--button-color);
  // }
}

/* button #1 */
.button1 {
  --button-color: var(--gray03);

  // .hamburger {
  //   stroke: none;
  // }
  .line {
    transition: 
      rotate 300ms ease-in-out,
      y 300ms ease-in-out 300ms,
      opacity 0ms 300ms;
    ;
    transform-origin: center;
  }
}

.button1[aria-expanded="true"] {
  .line {
    transition: 
    y 300ms ease-in-out,
    rotate 300ms ease-in-out 300ms,
    opacity 0ms 300ms;
    ;
  }

  :is(.top, .bottom) {
    y: 45;
  }
  
  .top {
    rotate: 45deg;
  }
  
  .middle {
    opacity: 0;
  }
  
  .bottom {
    rotate: -45deg;
  }
}

/* button #2 */
.button2 {
  --button-color: var(--indigo02);

  .hamburger {
    transition: rotate 800ms 100ms;
  }

  .line.top {
    --rotation: -45deg;
    transform-origin: 65px 45px;
  }

  .line.bottom {
    --rotation: 45deg;
    transform-origin: 60px 55px;
  }
}

.button2[data-state="closed"] :is(.top, .bottom) {
  animation: to-open-icon 1s forwards;
}

.button2[data-state="opened"] {
  &:is(.top, .bottom) {
  animation: to-close-icon 1s forwards;
  }

  .hamburger {
    rotate: 1turn;
  }
}

@keyframes to-close-icon {
  0% { stroke-dashoffset: 0; }
  40% { stroke-dashoffset: 79.9; }
  60% { stroke-dashoffset: 79.9;  rotate: var(--rotation); }
  100% { stroke-dashoffset: 0; rotate: var(--rotation); }
}

@keyframes to-open-icon {
  0% { stroke-dashoffset: 0; rotate: var(--rotation); }
  40% { stroke-dashoffset: 79.9; rotate: var(--rotation); }
  60% { stroke-dashoffset: 79.9; }
  100% { stroke-dashoffset: 0; }
}

/* button #3 */
.button3 {
  --button-color: var(--teal01);
  overflow:hidden;

  .hamburger {
    transition: translate 1s, rotate 1s;
  }

  .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
  } 
}

.button3[aria-expanded="true"] .hamburger {
  translate: 10px -10px;
  rotate: 0.125turn;
}

.button3[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}