.cssMotionExamples {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.examples {
  display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  // flex-flow: row wrap;
  padding: 1rem;
  gap: clamp(2rem, 8vw, 4rem);

  .menuTrigger {
    padding: 1rem;
    background-color: var(--teal02);
    border-radius: var(--radius01);
  }
}
 
button {
  padding: 0.25rem;
  background: transparent;
  border: 10px solid var(--button-color, green);
  border-radius: var(--radius01);

  .hamburger {
    fill: var(--button-color);
    stroke: var(--button-color);
  }
}

/* button #1 */
.button1 {
  --button-color: var(--gray03);

  .hamburger {
    stroke: none;
  }
  .line {
    transition: 
      rotate 300ms ease-in-out,
      y 300ms ease-in-out 300ms,
      opacity 0ms 300ms;
    ;
    transform-origin: center;
  }

  &:hover .line {
    transition: 
    y 300ms ease-in-out,
    rotate 300ms ease-in-out 300ms,
    opacity 0ms 300ms;
    ;
  }
  &:hover :is(.top, .bottom) {
    y: 45;
  }
  &:hover .top {
    rotate: 45deg;
  }
  &:hover .middle {
    opacity: 0;
  }
  &:hover .bottom {
    rotate: -45deg;
  }
}

/* button #2 */
.button2 {
  --button-color: var(--indigo02);

  .line {
    // transition: stroke-dashoffset 1s;
    animation: to-open-icon 1s forwards;
  };

  &:hover .line {
    // stroke-dashoffset: 79.9;
    animation: to-close-icon 1s forwards;
  }

  .line.top {
    --rotation: -45deg;
    transform-origin: 65px 45px;
  }
  .line.bottom {
    --rotation: 45deg;
    transform-origin: 60px 55px;
  }
}

@keyframes to-close-icon {
  0% { stroke-dashoffset: 0; }
  40% { stroke-dashoffset: 79.9; }
  60% { stroke-dashoffset: 79.9;  rotate: var(--rotation); }
  100% { stroke-dashoffset: 0; rotate: var(--rotation); }
}

@keyframes to-open-icon {
  0% { stroke-dashoffset: 0; rotate: var(--rotation); }
  40% { stroke-dashoffset: 79.9; rotate: var(--rotation); }
  60% { stroke-dashoffset: 79.9; }
  100% { stroke-dashoffset: 0; }
}

/* button #3 */
.button3 {
  --button-color: var(--teal01);
}